<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Advanced Form Elements</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>Advanced Form Elements</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Input Mask
                <small>http://jasny.github.io/bootstrap/</small>
            </h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <h3>
                Input Mask
            </h3>

            <p>
                Input masks allows a user to more easily enter data where you would like them to enter the data in a certain format.
            </p>

            <form class="form-horizontal m-t-md" action="">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="" ng-model="dataInput6">
                        <span class="help-block">(999) 999-9999</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </form>
        </div>
    </div>
</div>
</div>

</div>

<!-- Local style for demo purpose only -->
<!-- You have to set your width/height it has to be in px -->
<style>
    .cropArea {
        overflow: hidden;
        width:400px;
        height:300px;
    }
</style>