<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
               Employees
            </li>
            <li class="active">
                <strong>View </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<h1>DATA:</h1><br>

<div class="col-lg-4" ng-repeat="employee in employees">
    <div class="contact-box">
        <a ui-sref="profile">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="jpg/placeholder.jpg">

                    <div class="m-t-xs font-bold">{{ employee.department }}</div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>{{ employee.first_name }} {{ employee.last_name }}</strong></h3>

                <p><i class="fa fa-map-marker"></i> {{ employee.start_date}}</p>
                <address>
                    <strong>Cabins4Less, Inc.</strong><br>
                   39166 Big Bear Lake<br>
                    <abbr title="Phone">P:</abbr> {{ employee.phone }}
                </address>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>




<div class="col-lg-4">
    <div class="contact-box">
        <a ui-sref="profile">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">

                    <div class="m-t-xs font-bold">CEO</div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>Alex Johnatan</strong></h3>

                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>

</div>
</div>

<button ng-click="test()" type="button">click me</button>